.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 30px;
}

.post {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 100ms ease-in-out;
  background: #fff;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
}

.post-div {
  padding: 30px;
}